body {
    background-image: url("HPNfärgfinal.svg");
    background-color: #FFFAEC
}

main {
    display: flex;
    max-width: 40rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 100%;
    width: 18rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #F7E8BC;
}

.container2 {
    max-width: 100%;
    width: 18rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #F8CE56;
    border: 5px solid #DFB12D;
}

header {
    background: #F8CE56;
    height: 60px;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    padding-top: 1rem;
    padding-left: 20rem;
}

a {
    color: #4B9DFD;
}