<div>
    <div style="padding-right: 1rem; padding-bottom: 1rem;">
        <img src="/src/images/handsome.jpg" alt="Handsome" width="320" height="300" style="border: 5px solid #DFB12D; margin-bottom: 11px;">
            
        <div class="container2">
        <div>
            <h2>contact</h2>
            <h4>Phone:</h4> +39 2847 8484
            <h4>Email:</h4> handsomejack@hyp.enterprise.he
            <h4>Twitter:</h4> @OneHandsomeBastard
        </div>
        <div><h2>education</h2>
            <h5>2857-2861</h5>
            Programming Major at Hyperion University, Helios Moonbase
        </div>
        <div><h2>languages</h2>
            <strong>English</strong> - Native language<br>
            <strong>Spanish</strong> - Basic knowledge of few words and phrases
        </div>
        <div><h2>skills</h2>
        </div>
        <ol>
        <li>The ability to charm most people with sheer charisma</li>
        <li>Can tame the most dangerous of aliens through usage of various alien technologies</li>
        <li>Can survive would-be lethal scenarios</li>
        <li>Intellect to such a degree that I may look into the future and use said information to my advantage</li>
        <li>Can develop deadly and less-deadly technology without fault</li>
        <li>Handsome - People cannot look at me without exclaming aloud “Oh, my. What a handsome lad.”</li>
        </ol>
            <div><h2>references</h2>
                <h4>Angel ―</h4> My siren daughter. Her control of technology has been a major piece to the puzzle. As such, I have promptly put her captive within the Hyperion database.
                <h4>Rhys Strongfork ―</h4> Current CEO of Atlas. I managed to bring this guy back on his feet after he became a Hyperion enemy in rough terms. We have to dismiss the whole part of me betraying him, that is not important, anyway.
                <h4>Timothy Lawrence ―</h4> One of my doppelgangers. 21-C, to be exact. He has been a loyal dog for as long as I remember. Not only that, he practically acts exactly like me. Sure, he is forced to do so but Timothy surely has a couple of positive things to say about me.
            </div>
        </div>
    </div>

        <div>
            <embed src="/src/ApplicationLetter_AlexanderDonevHeino.pdf" width="320px" height="282px" 
            type="application/pdf" style="border: 5px solid #DFB12D;">
        </div>
</div>
