<div>
    <div class="container" style="background: #FFFAEC">
        <h2>experience</h2>
            <h5>AS LONG AS I AM ALIVE</h5>
            <strong>POS:</strong> Handsome as hell<br>
            <strong>EMP:</strong> self-employed<br>
            <strong>LOC:</strong> THIS FACE, BABY!<br>
                <ol>
                    <li>Being handsome</li>
                    <li>My face is nice to look at</li>
                    <li>Did I tell you I am beautiful?</li>
                    <li>I felt like I needed to tell you that one more time</li>
                    <li>I AM HANDSOME!</li>
                </ol>
            <hr>
            <br>

            <h5>2875-PRESENT</h5>
            <strong>POS:</strong> AI<br>
            <strong>EMP:</strong> Rhys Strongfork<br>
            <strong>LOC:</strong> Pandora & Promethea<br>
                <ol>
                    <li>Influencing the future CEO of Atlas</li>
                    <li>Hacking foreign systems with keen efficiency</li>
                    <li>Taking control of an entire moonbase without backlash</li>
                </ol>
            <hr>
            <br>
                
            <h5>2870-2873</h5>
            <strong>POS:</strong> Owner of the Handsome Jackpot Casino<br>
            <strong>EMP:</strong> self-employed<br>
            <strong>LOC:</strong> Handsome Jackpot<br>
                <ol>
                    <li>Architect, definitely with my own blueprints</li>
                    <li>Video advertiser with great acting</li>
                    <li>Manager and supplier of a myriad of casino specialized robots</li>
                    <li>Doppelganger supervisor and Winning Hand distributor</li>
                    <li>In charge of the financial decisions of the casino</li>
                </ol>
            <hr>
            <br>
                
            <h5>2866-2873</h5>
            <strong>POS:</strong> CEO of Hyperion (and Dictator of Pandora)<br>
            <strong>EMP:</strong> self-employed<br>
            <strong>LOC:</strong> Helios Moonbase<br>
            <ol>
                <li>Weapon manufacturer, prioritizing accuracy and handling with high-tech components</li>
                <li>Alien technology supervisor</li>
                <li>Robot and other technology developer</li>
                <li>Moonshot cannon supervisor</li>
                <li>In charge of the financial decisions made at Hyperion (Did I tell you I bought a diamond pony? Its name is Butt Stallion.)</li>
                <li>Managing director of the employees, ranging between scientists, developers to soldiers</li>
                <li>CL4P-TP general purpose robot terminator</li>
            </ol>
            <hr>
            <br>

            <h5>2861-2865</h5>
            <strong>POS:</strong> Hyperion Programmer<br>
            <strong>EMP:</strong> Harold Tassiter<br>
            <strong>LOC:</strong> Helios Moonbase<br>
            <ol>
                <li>Construction supervisor, having a say in the development of Hyperion’s robotics and structures</li>
                <li>CL4P-TP general purpose robot creator, e.g. giving the units new features</li>
                <li>Hologram specialist</li>
            </ol>
    </div>
</div>