@use "reset";

body {
    background-image: url("../src/images/HPNfärgfinal1.svg"), url("../src/images/HPNfärgfinal2.svg"), url("../src/images/HPNfärgfinal2.svg"), url("../src/images/HPNfärgfinal2.svg"), url("../src/images/HPNfärgfinal2.svg"), url("../src/images/HPNfärgfinal2.svg");
    background-size: 15rem;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0 10%, 64rem 10%, 0 50%, 64rem 50%, 0 90%, 64rem 90%;
    background-color: #FFFAEC;
}

main {
    display: flex;
    max-width: 40rem;
    padding-right: 1rem;
    padding-left: 0rem;
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 100%;
    width: 18rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #F7E8BC;
}

.container2 {
    max-width: 100%;
    width: 18rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #F8CE56;
    border: 5px solid #DFB12D;
    background-image: linear-gradient(220deg,#F8CE56 60%, #4B9DFD);
}

.container3 {
    max-width: 100%;
    float: left;
}

header {
    background: #F8CE56;
    height: 60px;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    padding-top: 1rem;
    padding-left: 19.5rem;
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-family: 'Major Mono Display', monospace;
}

a {
    color: #4B9DFD;
}

li {
    list-style-type: square;
    padding-bottom: 1rem;
}

.display {
    display: flex;
}